.dropdown-toggle,
.dropdown-menu {
    border-radius: 0px !important;
}
.dropdown-item:hover {
    color: white;
    background-color: #3491cf;
}
.btn-danger {
    width: 55%;
}
.dropdown:hover>.dropdown-menu {
  display: block;
}